<div class="main-body">
  <div class="container-fluid">
    <div class="row">
    <head>
      <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    </head>
  <header id="navbar-top" class="nav-font" >
      <div class="fitz-navbar ">
        <nav class="navbar navbar-default nav-font">
          <div class="container">
              <ul id="menu-primary-navigation-en" class="nav navbar-nav">
               <li>
                <a href="/">FitzFest 2015</a>
                </li>
                <li>
                  <a href="/swag">
                    <span data-title="Shirt">Buy Your Shirt</span>
                  </a>
                </li>
                <li>
                  <a href="/contact">
                    <span data-title="Contact">Contact</span>
                  </a>
                </li>
              </ul>

          </div>
        </nav>
      </div>
    </header>
    </div>
    <div class="row">

        <div class="col-lg-4"></div>
        <div class="col-lg-6">

          {{outlet}}
        </div>
        <div class="col-lg-2"></div>

      </div>
  </div>
</div>
