<div class="big-text">
<p>Contact Beth Madigan Holland with general T-shirt questions.</p>
<p>Contact Lou Ferris with T-shirt payment questions.</p>
<p>Contact <a href="mailto:jeff+ff@jeffreyleebaird.com">Jeffrey Baird</a> with FitzFest website questions, or if you want to help make this site better (I am not a designer, clearly).</p>

<p>Don't forget to check the <a href="https://www.facebook.com/groups/32014379110/">FitzFest on Facebook</a> page for updates and event information!</p>

</div>