<div class="big-text">
<p>Contact Beth Madigan Holland with general T-shirt questions.</p>
<p>Contact Lou Ferris with T-shirt payment questions.</p>
<p>Contact <a href="mailto:jeff+ff@jeffreyleebaird.com">Jeffrey Baird</a> with FitzFest website questions.</p>

<p>Don't forget to check the FitzFest on Facebook page for updates and event information!</p>

</div>